@model Actor

<h1>@ViewData["Title"]</h1>

@{
    @foreach (var movie in Model.Movies)
    {
        <div><a href="/Home/MovieDetails/@(movie.Id)">@movie.Title</a> - @movie.ReleaseYear</div>
    }
}
